
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

body {
   font-weight: 400;
  line-height: 1.5;
  background-color: #F8F9FA;
  color: #181819;
  font-family: "Roboto", sans-serif;
  
}


.navside-bs{
    background: #ffffff;
    min-height: 60px;
    width: 100%;
    /* position: fixed;
    z-index: 1001; */
    /* box-shadow: 0px 0px 5px rgba(18, 23, 39, 0.5); */
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.1);
 
}

aside{
    background: #083430;;
    position: fixed;
    z-index: 10032;
    /* box-shadow: 0px 0px 5px rgba(18, 23, 39, 0.5); */
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.1);

}

.aside-header{
top: -50px;
color: white;
font-size: 20px;
}

.aside-footer{
  bottom:-80px;
  background:#4FD1C5;
}

.progress{
  background:#DCF6F3;
}

.progress-bg{
  background:#102A27;
}

.aside-footer-footer{
  font-size:12px;
  
}

.form-btn{
  background:#4FD1C5;
}

.form-btn:hover{
background:#4FD1C5;
}

.profilelink-a{
  font-size:8px;
}

.text-unknown{
  color:#048FBB;
}
.img-fluid{
  height: 3.5rem;
}

.card-arrow{
  top:5px;
}

.card-header{
    font-size: 16px;
}

.calender-font li a{
  font-size:20px;
}

.dot-color{
  background:#4F5CD1;
}

.dotlast-color{
  background:#CE4FD1;
}

.dotfont{
  font-size: 9px;
}
.dots{
  width:12px;
  height:12px;
}
.analyticsfooter-footer{
width: 12px;
height: 26px;
background: #4FD1C5;
border-radius: 5px
}

.footer2-progress{
background: #E2E8F0;
margin-top: 10px;
}

.footer2-progressball{
background: #4FD1C5;
}

.links{
  font-size:12px;
}

/* settings page */

.pro-info{
  font-size:15px;
}

.pro-check{
  font-size:13px;
}

/* end of settings page */



/* notification mega-dropdown */

.mega-dropdown{
  width: 28rem;
  margin-left: -22rem;

}

.mega-dropdown2{
  width: 836px;
  margin-left: -7px;

}


.mega-dropdown3{
  width:  837px;
  margin-left: -7rem;

}

.mega-dropdown4{
  width:  839px;
  margin-left: -205px;

}

.date-icon{
right: 28px;
margin-top: -36px;
color: #c1c1c1;
}
/* end of notification mega-dropdown */

/* modal */




/* end of modal */

@media (max-width: 640px) {
  body > aside,
  body > main {
    grid-area: stack;
  }
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [nav] 1fr [escape] 2fr;
}

@media (max-width: 640px) {
  #sidenav-open {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: hidden auto;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }
}

@media only screen and (max-width: 640px) {
  #sidenav-open:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }

  #sidenav-open:target ~ main {
    filter: blur(0.5em);
    z-index: -1;
  }
}

.grid-cols-auto-1fr-auto {
  grid-template-columns: auto 1fr auto;
}

#profile-progress {
  border: 1em solid white;
  border-right-color: #4a00e0;
  border-top-color: #4a00e0;
  border-bottom-color: #4a00e0;
  animation: thickening 1s 0.5s linear normal;
  border-left-color: white;
  border-radius: 50%;
}

@keyframes thickening {
  from {
    border-width: 0.2em;
  }
  to {
    border-width: 1em;
  }
}



