#hero{
    background:#DCF6F3;
   
}

.absolute-imgtop{
    margin-bottom:-30rem;
}

.absolute-star{
    position:absolute;
left:40px;
top:-41px
}

.absolute-dotbottom{
    bottom:-30px;
    left:-100px;
}

.absolute-dottop{
    right:-80px;
    top:-30px;
}

.absolute-dotbr{
    right:-30px;
}

.absolute-circle{
    height:17rem;
    left:-50px;
}

